<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" ng-controller="AppCtrl">

<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title page-title></title>

    <meta name="description" content="blank page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/Assets/Admin/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="~/Assets/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link href="~/Assets/Admin/css/beyond.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/demo.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/CustomPage.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/typicons.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/animate.min.css" rel="stylesheet" />
    <link ng-href="{{settings.skin}}" rel="stylesheet" type="text/css" />
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Loading Container -->
    <div class="loading-container" >@Html.Partial("_LoadingView")</div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar" >@Html.Partial("_NavbarView")</div>
    <!-- /Navbar -->

    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                @Html.Partial("_SidebarView")
            </div>
            <!-- /Page Sidebar -->
            <!-- Chat Bar -->
            <div id="chatbar" class="page-chatbar">
                @Html.Partial("_ChatbarView")
            </div>
            <!-- /Chat Bar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    @Html.Partial("_BreadcrumbsView")
                </div>
                <!-- /Page Breadcrumb -->
                @*<!-- Page Header -->
                <div class="page-header position-relative">
                    @Html.Partial("_HeaderView")
                </div>
                <!-- /Page Header -->*@
                <!-- Page Body -->
                <div class="page-body" ui-view>
                    <!-- Your Content Goes Here -->
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>
    <!-- Scripts -->
    <script src="~/Assets/Admin/lib/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/lib/jquery/bootstrap.js"></script>
    <script src="~/Assets/Admin/lib/angular/angular.js"></script>

    <script src="~/Assets/Admin/lib/utilities.js"></script>

    <script src="~/Assets/Admin/lib/angular/angular-animate/angular-animate.js"></script>
    <script src="~/Assets/Admin/lib/angular/angular-cookies/angular-cookies.js"></script>
    <script src="~/Assets/Admin/lib/angular/angular-resource/angular-resource.js"></script>
    <script src="~/Assets/Admin/lib/angular/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/Assets/Admin/lib/angular/angular-touch/angular-touch.js"></script>

    <script src="~/Assets/Admin/lib/angular/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/Assets/Admin/lib/angular/angular-ocLazyLoad/ocLazyLoad.js"></script>
    <script src="~/Assets/Admin/lib/angular/angular-ngStorage/ngStorage.js"></script>
    <script src="~/Assets/Admin/lib/angular/angular-ui-utils/angular-ui-utils.js"></script>
    <script src="~/Assets/Admin/lib/angular/angular-breadcrumb/angular-breadcrumb.js"></script>

    <script src="~/Assets/Admin/lib/angular/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="~/Assets/Admin/lib/jquery/slimscroll/jquery.slimscroll.js"></script>



    <!-- ~/App Config and Routing Scripts -->
    <script src="~/App/App.js"></script>
    <script src="~/App/config.js"></script>
    <script src="~/App/config.lazyload.js"></script>
    <script src="~/App/config.router.js"></script>
    <script src="~/App/beyond.js"></script>


    <!-- Layout Related Directives -->
    <script src="~/App/Directives/ShareDirec/loading.js"></script>
    <script src="~/App/Directives/ShareDirec/skin.js"></script>
    <script src="~/App/Directives/ShareDirec/sidebar.js"></script>
    <script src="~/App/Directives/ShareDirec/header.js"></script>
    <script src="~/App/Directives/ShareDirec/navbar.js"></script>
    <script src="~/App/Directives/ShareDirec/chatbar.js"></script>
    <script src="~/App/Directives/ShareDirec/widget.js"></script>

</body>
<!--  /Body -->
</html>